<% if @users %>
    <div class="widget"> ‌
      <h5 class="text-uppercase strong innerAll border-bottom" style="margin-top: -20px"><%= @total_entries %> <%= t('search_mentor.lb_search_results')%></h5>
      <div id="search-result" style="margin-top: -8px">
        <%= render partial: "search/users" %>
      </div>
    </div>
<% end%>