<div class="innerLR">
  <h3><%= t('users.title_user_profile') %></h3>

  <div id='general' class="row">
    <%= render 'general_information'%>
  </div>

  <div id='general' class="row">

    <div class="widget">

        Job History Information

    </div>
  </div>

  <div id='general' class="row">
    <div class="widget">

        Education Information

    </div>
  </div>

  <div id='general' class="row">
    <div class="widget">

        Specification Information

    </div>
  </div>


</div>



<script>
    $(document).ready(function () {

    });
</script>