<div class="media-body">
  <h3 style="padding-left: 30px; padding-bottom: 10px; word-break: break-all" class="aes-color border-bottom" ><i class="fa fa-cogs"></i></i><%= t('settings.title_general') %></h3>
  <div class="row-fluid col-md-9">
    <div id="pnl_Language" class="row">
        <%= render 'user_settings/language/show' %>
    </div>
    <div class="row">
      <label class="col-md-4 col-xs-4" ><%= t('settings.lb_bookmark') %><span class="requiredfield">*</span></label>
      <label class="col-md-8 col-xs-8" style="word-break: break-all" >N/A</label>
    </div>
  </div>
</div>