<% if @levels %>
    <option value=""><%= t('history_job.placeholder_level') %></option>
    <% @levels.each do |level| %>
        <option value="<%= level.id %>"><%= level.level_name.titleize %></option>
    <% end %>
<% end %>