<h1>Listing history_jobs</h1>

<table>
  <thead>
    <tr>
      <th>Company name</th>
      <th>Title</th>
      <th>Location</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Current</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New History job', new_history_job_path %>
